@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap");

* {
  // font-family: "Noto Sans JP" !important;
  font-family: var(--ion-default-font-family) !important;
  -ms-user-select: none; /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

section {
  width: 100%;
  display: flex;

  .coop-stats-key {
    width: 70%;
  }

  .coop-stats-progress-bar {
    width: 70%;
    margin: 10px 0;
  }

  .coop-stats-value {
    width: 30%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 0 !important;
    height: 100% !important;
    text-align: right;
  }

  .coop-stats-value-list {
    width: 30%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 0 !important;
    height: 100% !important;
    text-align: right;
  }

  .coop-result-job-result {
    width: 15%;
    min-width: 60px;
  }

  .coop-result-job-waves {
    padding-left: 6px;
    width: 70%;
    display: flex;
    font-size: 0.85rem;

    .coop-result-job-waves-golden-ikura {
      padding-right: 6px;
    }
  }

  .coop-result-job-detail {
    width: 15%;
    text-align: right;
  }

  .coop-ranking-summary-rank {
    width: 10%;
    max-width: 30px;
  }

  .coop-ranking-summary-player {
    padding-left: 6px;
    width: 80%;
  }

  .coop-ranking-summary-score {
    width: 10%;
    text-align: right;
  }

  .coop-ranking-summary-team-members {
    width: 85%;
  }

  .coop-ranking-summary-score {
    width: 10%;
    text-align: right;
  }

  .coop-ranking-summary-thumbnail {
    padding: 0 5px;
  }

  .coop-ranking-scores-list {
    text-align: right;
  }
}

div.item-inner {
  max-width: 200px !important;
}

:host {
  .input-wrapper {
    width: 0px !important;
  }
}

::shadow {
  .input-wrapper {
    width: 0px !important;
  }
}

ion-label {
  &.nickname {
    font-size: 0.95rem;
    min-width: 160px !important;
    margin-inline-end: 0px !important;
  }

  &.results {
    margin-left: 0px !important;
    margin-inline-end: 0px !important;
  }

  &.friend-code {
    font-size: 0.95rem;
    color: var(--ion-color-text-secondary);
    margin-inline-start: 0px !important;
  }

  .count {
    font-size: 0.8rem;
    font-weight: bold;
  }

  &.num {
    font-size: 1rem !important;
  }

  &.salmon_id {
    font-size: 0.7rem !important;
    color: var(--ion-color-text-secondary) !important;
  }

  &.job_clear {
    font-size: 0.85rem !important;
    color: var(--ion-color-result-clear) !important;
    font-weight: bold;
  }

  &.job_failure {
    font-size: 0.85rem !important;
    color: var(--ion-color-result-failure) !important;
    font-weight: bold;
  }

  &.danger_rate {
    font-size: 0.75rem !important;
    &::after {
      content: "%";
    }
  }

  &.golden_ikura_num {
    color: var(--ion-color-result-golden-ikura) !important;
    font-weight: bold;
  }

  &.ikura_num {
    color: var(--ion-color-result-ikura) !important;
    font-weight: bold;
  }

  &.num {
    &::before {
      content: "x";
    }
  }

  &.datetime {
    font-size: 0.75rem !important;
    color: var(--ion-color-text-secondary) !important;
  }

  &.stage-name {
    font-size: 0.8rem !important;
  }

  &.prob {
    font-size: 0.8rem !important;
    color: var(--ion-color-text-secondary) !important;

    &::after {
      content: "%";
    }
  }

  &.member {
    font-size: 0.8rem !important;
  }

  &.nsaid {
    font-size: 0.8rem !important;
    color: var(--ion-color-text-secondary) !important;
  }

  &.count {
    font-size: 0.8rem !important;
    color: var(--ion-color-text-secondary) !important;
  }
}

p {
  font-size: 0.8rem !important;
}

ion-list {
  padding: 0 !important;
}

.coop-schedule-summary {
  width: 40%;
}

.coop-schedule-weapon-list {
  width: 60%;
  max-width: 200px;
  margin-left: auto;

  ul {
    width: 100%;
    display: flex;
  }

  li {
    width: 25%;
    list-style: none;
  }
}

ul {
  margin: 6px 0 !important;
  list-style: none;

  &.coop-ranking-members {
    list-style: none;
    column-count: 2;
  }

  .coop-ranking-scores-list {
    list-style: none;
  }
}

ion-header {
  background: var(--ion-item-background);
}

ion-toolbar {
  max-width: calc(var(--ion-frame-max-width)) !important;
  margin: 0 auto;
}

ion-title {
  // padding-left: 0 !important;
}

.header-md::after {
  background-image: initial;
}

ion-list-header {
  max-width: var(--ion-frame-max-width) !important;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.3rem;
}

ion-card {
  max-width: calc(var(--ion-frame-max-width) * 0.5) !important;
  margin: 0 auto !important;
}

.user-label-item {
  &:not(:last-child) {
    margin-right: 4px !important;
  }
}

ion-img {
  &.coop-player-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    clip-path: circle(50%);
  }

  &.app-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    clip-path: circle(50%);
  }

  &.weapon {
    max-width: 50px;
    max-height: 50px;
  }
}

.coop-player-verified {
  position: absolute;
  color: yellow;
  z-index: 1;
}

#paypal-button-container-P-5YR614358D8229313MAAAVNA {
  width: 100%;
  max-width: 390px;
  max-height: 35px;
  margin: 0 auto;
  background-color: transparent;
}

ion-list {
  min-width: 340px;
}

ion-item {
  min-width: 340px;
  max-width: var(--ion-frame-max-width) !important;
  margin: 6px auto;

  &div.item-inner {
    flex: none !important;
  }
}

ion-progress-bar {
  max-width: calc(var(--ion-frame-max-width) * 0.5) !important;
}

ion-content {
  margin: 0 auto !important;
}

ion-segment {
  max-width: var(--ion-frame-max-width) !important;
  margin: 0 auto !important;
}
