section {
  width: 100%;
  display: flex;

  .coop-stats-key {
    width: 70%;
    margin-left: 4px !important;
  }

  .coop-stats-progress-bar {
    width: 70%;
  }

  .coop-stats-value {
    width: 30%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 0 !important;
    height: 100% !important;
    text-align: right;
  }

  .coop-stats-value-list {
    width: 30%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 0 !important;
    height: 100% !important;
    text-align: right;
  }
}

ion-label {
  &.num {
    font-size: 1rem !important;
  }
}

p {
  font-size: 0.8rem !important;
}

ion-list {
  padding: 0 !important;
}

.coop-schedule-summary {
  width: 40%;
}

.coop-schedule-weapon-list {
  width: 60%;

  ul {
    width: 100%;
    display: flex;
  }

  li {
    width: 25%;
    list-style: none;
  }
}

ion-label {
  .datetime {
    color: grey;
  }
}

ion-list-header {
  max-width: 440px !important;
  margin: 0 auto;
}
