section {
  width: 100%;
  display: flex;

  .coop-stats-key {
    width: 70%;
    margin-left: 4px !important;
  }

  .coop-stats-progress-bar {
    width: 70%;
  }

  .coop-stats-value {
    width: 30%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 0 !important;
    height: 100% !important;
    text-align: right;
  }

  .coop-stats-value-list {
    width: 30%;
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-right: 0 !important;
    height: 100% !important;
    text-align: right;
  }
}

ion-list {
  padding: 0 !important;
}

.coop-schedule {
  width: 100%;
}

.coop-schedule-sumamry {
  width: 70%;
}

.coop-schedule-weapon-list {
  // width: 100%;

  ul {
    display: flex;
  }

  li {
    list-style: none;
    width: 25%;
    max-width: 45px;
  }
}

ion-label {
  .datetime {
    color: grey;
  }
}
