body {
  --ion-monospace-font-family: "M PLUS 1 Code";
  --ion-default-font-family: "M PLUS 1 Code";
  --ion-frame-max-width: 800px;
}

body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #cccccc;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #888888;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-color-text-secondary: #888888;
  --ion-color-result-clear: #0c9c30;
  --ion-color-result-failure: #f52222;
  --ion-color-result-golden-ikura: #eee21d;
  --ion-color-result-ikura: #f52222;
}

body.light {
  --ion-background-color: #e1e1e1;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #111111;
  --ion-text-color-rgb: #111111;

  --ion-border-color: #888888;

  --ion-color-step-50: #d1d1d1;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-card-background: #d1d1d1;
  --ion-color-text-secondary: #888888;
  --ion-color-result-clear: #20c140;
  --ion-color-result-failure: #f52222;
  --ion-color-result-golden-ikura: #e8af06;
  --ion-color-result-ikura: #f52222;
}
