@font-face {
  font-family: "Noto Sans JP";
  src: url("~@/assets/fonts/NotoSansMonoCJKjp-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("~@/assets/fonts/NotoSansMonoCJKjp-Regular.woff2") format("woff2");
}
